{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    <section class="w-full lg:max-w-6xl mx-auto py-16 px-8 md:px-16 flex flex-col gap-8 flex-1">
        
        {% if highest_bid.buyer == user and not is_listing_active %}
            <h2 class="text-3xl uppercase font-mono font-extrabold text-red-700">Congratulations {{ user }}, you won this auction!</h2>
        {% endif %}

        {% if not is_listing_active %}
            <h2 class="text-3xl uppercase font-mono font-extrabold text-black">This auction ended</h2>
        {% endif %}

        <section class="flex flex-col gap-8">
            <div class="flex flex-row gap-8">

                {% if user.is_authenticated %}
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ wishlist_form }}

                    {% if wishlist %}
                        <input class="bg-cyan-900 border-cyan-600 text-white uppercase font-bold px-8 py-2 transition-all hover:bg-teal-800 hover:text-lime-200 border-2 rounded-xl shadow-md cursor-pointer" type="submit" value="Remove from Wishlist">
                    {% else %}
                        <input class="bg-cyan-900 border-cyan-600 text-white uppercase font-bold px-8 py-2 transition-all hover:bg-teal-800 hover:text-lime-200 border-2 rounded-xl shadow-md cursor-pointer" type="submit" value="Add to Wishlist">
                    {% endif %}

                </form>

                    {% if listing.seller == user and is_listing_active %}

                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ end_form }}
                        <input class="bg-red-900 border-red-800 text-white uppercase font-bold px-8 py-2 transition-all hover:bg-red-800 border-2 rounded-xl shadow-md cursor-pointer" type="submit" value="End Auction">
                    </form>

                    {% endif %}
                {% endif %}
                
            </div>
            <section class="flex flex-col gap-8">
                <h3 class="text-3xl uppercase font-mono font-extrabold text-black">{{ listing.title }}</h3>
                <p class="uppercase">Category > <a class="font-bold" href="{% url 'categories_query' listing.category %}">{{ listing.category }}</a></p>
                <div class="w-full h-[32rem] bg-blue-50 shadow-lg border rounded-xl overflow-hidden">

                    {% if listing.image %}
                        <img class="w-full h-[32rem] object-contain rounded-xl" src="{{ listing.image }}" alt="{{ listing.title }}">
                    {% else %}
                        <img class="w-full h-[32rem] object-contain rounded-xl" src="{% static 'img/no_img.jpg' %}" alt="No image availible">
                    {% endif %}

                </div>

                {% if listing.description %}

                <section class="flex flex-col gap-4">
                    <h4 class="text-xl uppercase font-mono font-extrabold text-black">Description</h4>
                    <p>{{ listing.description }}</p>
                </section>

                {% endif %}

                <section class="flex flex-col gap-4">
                    <h4 class="text-xl uppercase font-mono font-extrabold text-black">Details</h4>
                    <ul class="flex flex-col gap-2">
                        <li>Item reference: <span class="font-bold">{{ listing.id }}</span></li>
                        <li>Seller: <span class="font-bold">{{ listing.seller }}</span></li>
                        <li>Auction start: <span class="font-bold">{{ listing.start }}</span></li>
                        <li>Auction end: <span class="font-bold">{{ listing.end }}</span></li>

                        {% if highest_bid %}
                            <li>Highest bid: <span class="font-bold">£{{ highest_bid.bid|floatformat:2 }}</span></li>
                            <li>Buyer: <span class="font-bold">{{ highest_bid.buyer }}</span></li>
                        {% else %}
                            <li>Starting Price: <span class="font-bold">£{{ listing.start_price|floatformat:2 }}</span></li>
                        {% endif %}

                    </ul>
                </section>
            </section>
        </section>
        <section class="flex flex-col gap-4">

            {% if is_listing_active %}
                <h3 class="text-xl uppercase font-mono font-extrabold text-black">Enter your bid</h3>
                <form class="customform" action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ bid_form }}                    
                    <input class="bg-cyan-900 border-cyan-600 text-white uppercase font-bold px-8 py-2 transition-all hover:bg-teal-800 hover:text-lime-200 border-2 rounded-xl shadow-md cursor-pointer" type="submit" value="Place bid">

                    {% if error_message %}
                        <ul class="errorlist">
                            <li>{{ error_message }}</li>
                        </ul>
                    {% endif %}

                </form>
            {% endif %}

        </section>
        <section class="flex flex-col gap-4">
            <h3 class="text-xl uppercase font-mono font-extrabold text-black">Comments</h3>
            <div class="flex flex-col gap-4">

            {% for comment in comments %}
                <div class="bg-slate-50 border-cyan-800 border rounded-xl shadow-xl p-4 flex flex-col gap-2">
                    <p class="font-bold">{{ comment.user }} on {{ comment.date }}, wrote:</p>
                    <p class="italic">{{ comment.content }}</p>
                </div>
            {% empty %}
                <p class="font-bold">No one left a comment yet.</p>
            {% endfor %}

            </div>

            {% if user.is_authenticated and is_listing_active %}
                <form class="customform" action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input class="bg-cyan-900 border-cyan-600 text-white uppercase font-bold px-8 py-2 transition-all hover:bg-teal-800 hover:text-lime-200 border-2 rounded-xl shadow-md cursor-pointer" type="submit" value="Add Comments">
                </form>
            {% elif is_listing_active %}
                <p class="font-bold uppercase mt-8">You must be logged in to leave a comment.</p>
            {% endif %}

        </section>
    </section>
{% endblock %}