{% extends "auctions/layout.html" %}

{% block body %}

<section class="w-full lg:max-w-6xl mx-auto py-16 px-8 md:px-16 flex flex-col gap-8 flex-1">
    <h2 class="text-3xl uppercase font-mono font-extrabold text-black">Register</h2>

    {% if message %}

        <ul class="errorlist">
            <li>{{ message }}</li>
        </ul>
        
    {% endif %}
    
    <form class="customform" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="bg-cyan-900 border-cyan-600 text-white uppercase font-bold px-8 py-2 transition-all hover:bg-teal-800 hover:text-lime-200 border-2 rounded-xl shadow-md" class="btn btn-primary" type="submit" value="Register">
    </form>
    <p>Already have an account? <a class="font-bold uppercase" href="{% url 'login' %}">Log In here.</a></p>
</section>

{% endblock %}